.container {
    width: 80%;
    margin: auto;
    text-align: center;
    height: ;
  }
  
  .dice {
    text-align: center;
    display: inline-block;
  
  }
  
  body {
    background-color: #393E46;
  }
  
  h1 {
    margin: 30px;
    font-family: 'Lobster', cursive;
    text-shadow: 5px 0 #232931;
    font-size: 6.5rem;
    color: #4ECCA3;
  }

  
  .btn{
border: none;
background: transparent;
    font-family: 'Indie Flower', cursive;
    text-shadow: 5px 0 #232931;
    font-size: 3rem;
    color: #4ECCA3;
   


  }

  .btn:hover{
    color: rgb(101, 141, 128);
  }
  .btn:active{
      color: red;
  }
  
  p {
    font-size: 2rem;
    color: #4ECCA3;
    font-family: 'Indie Flower', cursive;
  }
  
  img {
    width: 80%;
  }
  
  footer {
    margin-top: 5%;
    color: #EEEEEE;
    text-align: center;
    font-family: 'Indie Flower', cursive;
  
  }
  